.my-section{
    background-color: #EADAC6;
}
.my-section-2{
    background-color: #EADAC6;
    padding: 100px 0;
}
.my-card {
  margin: 65px;
  background-color: #D9C8B0;
}
.my-card img {
  width: 180px;
  margin-top: -108px;
}
.my-title {
}
.my-text {
}
