.my-section{
    background-color: #deeaee;
    color: white;
}
.my-section-2{
    background-color: #d4faf7;
    padding: 100px 0;
}
.my-card {
  margin: 65px;
  background-color: #fff;
}
.my-card img {
    width: 180px;
    margin-top: 30px;
}
.card-body h5,
.card-body h3,
.card-body p
{
color: #777;
}
.card{
box-shadow: 45px 31px 76px -81px rgba(0,0,0,0.75);
-webkit-box-shadow: 45px 31px 76px -81px rgba(0,0,0,0.75);
-moz-box-shadow: 45px 31px 76px -81px rgba(0,0,0,0.75);
}